/* CSS style page for Yannis Cabossioras' webpage */

body {
  font-family: 'Roboto';
  font-size  : 42px    ;
}

img {
  border-radius: 50%;
}

.button {
  background-color: #ddd;
  border: 			none;
  color: 			black;
  padding: 			10px 20px;
  text-align: 		center;
  text-decoration: 	none;
  display: 			inline-block;
  margin: 			4px 2px;
  cursor: 			pointer;
  transition: 		0.3s;			/* hoverable button 	   */
  border-radius: 	16px;			/* roundness of the button */
}

.button:hover {
  background-color: #3e8e41;
  color: white;
}