<!DOCTYPE html PUBLIC>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name      ="description" 	content="Webpage of Yannis Cabossioras">
	<meta name      ="author" 		content="Yannis Cabossioras">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>

<body>
	<div class="nav">
		<div class="container">
			<ul>
				<li> <a href="./html/about.html"   > About    </a></li>
				<li> <a href="./html/research.html"> Research </a></li>
				<li> <a href="./paris_by_parisian.html"   > Other    </a></li>
				<li> <a href="./html/contact.html" > Contact  </a></li>
				<li> <a href="./html/cv.html" target="_blank"> <button class="button button_cv">CV</button></a></li>
			</ul>
		</div><!-- /.container -->
	</div><!-- /.nav -->

	<div class="main">
		<div class="container">
			
			{{ content }}

		</div><!-- /.container -->
	</div><!-- /.main -->

	<div class="footer" id="contact">
		<div class="container">
			<h2>Contact</h2>
			<ul>
				<li> Yannis Cabossioras </li>
				<li> Address </li>
				<li> <a href="mailto:hankquinlanhub@gmail.com">yannis.cabossioras@stern.nyu.edu</a> </li>
				<li> +1 (702) 485-0642 </li>
				<li><a href="https://github.com/ycabossioras">github.com/ycabossioras</a></li>
			</ul>
			<p>&copy; Yannis Cabossioras 2021</p>
		</div><!-- /.container -->
	</div><!-- /.footer -->

</body>

</html>